<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/QA Project/Web Automation/WafiLifeBooksWebAutomation/src/test">
        <classes>
            <class name="testcases.TestHomePage">
                <methods>
                    <include name="TestHomePageUrl"/>
                    <include name="TestHomePageTitle"/>
                </methods>
            </class>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="SignInWithEmailAndPassword"/>
                </methods>
            </class>
            <class name="testcases.TestAuthorPage">
                <methods>
                    <include name="GoToAuthorPage"/>
                    <include name="GoToNextPage"/>
                    <include name="selectOneWriter"/>
                    <include name="GotoAuthorBook"/>
                    <include name="FillUpBookCheckoutForm"/>
                    <include name="LogoutUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>